/* common.css */

:root {
    --main-bg: #c8ff2a;
    --sub-bg: #ffe100;
    --accent-gold: #dbb418;
    --font-color: #376f5d;
    --shadow: rgba(0, 0, 0, 0.5);
    --font-main: "Zen Kurenaido", sans-serif;
}

/* ↓↓↓↓↓↓ ヘッダーメニュー用 ↓↓↓↓↓↓ */
/* ヘッダー背景色 */
.navbar {
    background-color: rgba(255, 255, 255, 0.95);
    height: 90px;
}


/* ロゴのサイズ */
.logo-img {
    height: 70px;
}

@media (max-width: 768px) {
    .logo-img {
        height: 50px;
    }
}

@media (max-width: 480px) {
    .logo-img {
        height: 30px;
    }
}

/* メニュータイトル */
.offcanvas {
    width: 500px !important;
    font-family: var(--font-main);
    font-size: 1.4rem;
    color: var(--main-bg);
    text-shadow: 1.5px 1.5px 2px var(--font-color);
    transition: all 0.3s ease-in-out;
}

/* メニュー文字 */
.offcanvas-body .nav-link {
    font-family: var(--font-main);
    font-size: 1.8rem;
    color: var(--font-color);
    border-bottom: 2px solid var(--sub-bg);
    padding-bottom: 2px;
    text-shadow: 1px 1px 2px var(--shadow);
    transition: all 0.3s ease-in-out;
    margin-bottom: 10px;
}

/* メニュー文字(最下) */
.offcanvas-body .nav-link.foot {
    font-family: var(--font-main);
    font-size: 1.2rem;
    color: var(--font-color);
    border-bottom: 2px solid var(--sub-bg);
    padding-bottom: 2px;
    text-shadow: none;
    transition: all 0.3s ease-in-out;
    margin-top: 50px;
    display: inline-block;
    text-align: center;
}

.offcanvas-body .nav-item.foot {
    text-align: center;
}

/* ホバー時のエフェクト */
.offcanvas-body .nav-link:hover {
    color: var(--main-bg);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    transform: translateX(5px);
}

.offcanvas-body .nav-link.foot:hover {
    color: var(--main-bg);
    text-shadow: none;
    transform: none;
}

/* メニュー背景のグラデーション */
.offcanvas.offcanvas-gradient {
    background: linear-gradient(to bottom, white, var(--main-bg));
}

/* メニューの全画面表示 - 768px以下 */
@media (max-width: 768px) {
    .offcanvas-fullscreen {
        width: 100vw !important;
        max-width: 100vw !important;
    }
}
/* ↑↑↑↑↑↑ ヘッダーメニュー用 ↑↑↑↑↑↑ */

/* ↓↓↓↓↓↓ 基本設定用 ↓↓↓↓↓↓ */
body {
    background: linear-gradient(to bottom, white, var(--main-bg));
}
/* ↑↑↑↑↑↑ 基本設定用 ↑↑↑↑↑↑ */

/* ↓↓↓↓↓↓ snsホバー用 ↓↓↓↓↓↓ */
.sns-link {
    text-decoration: none;
    color: #333;
    transition: transform 0.2s ease, color 0.2s ease;
}
  
.sns-link:hover i{
    transform: scale(1.2) !important;
}

.question-link {
    text-decoration: none;
    transition: transform 0.2s ease, color 0.2s ease;
}
  
.question-link:hover a {
    color: blue !important;
}
/* ↑↑↑↑↑↑ snsホバー用 ↑↑↑↑↑↑ */

/* ↓↓↓↓↓↓ 六角形の描画用 ↓↓↓↓↓↓ */
.hexagon-wrapper {
    position: relative;
    width: 420px;
    height: 370px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

/* 背景用の大きい六角形 */
.hexagon-background {
    width: 420px;
    height: 370px;
    background: var(--sub-bg); /* ゴールドっぽい色 */
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    position: absolute;
}

/* 手前の六角形 */
.hexagon {
    width: 400px;
    height: 350px;
    background: white;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* 六角形内画像 */
.hexagon img {
    width: 400px;
    height: 350px;
    object-fit: cover; /* 背景に収まるようにする */
    /* clip-path: inherit;*/
}

/* 全てを囲って真ん中に綺麗になるように配置 */
/* 特にこの三行で指定
display: flex;
align-items: center;
justify-content: center;
*/
/*
サイズの大小関係は
hexagon-wrapper >= hexagon-background > hexagon
であればOK 写真は大きくても収まるよ

hexagon imgのなかの"clip-path: inherit;"を有効化すると画像も六角形になるよ
*/

/* レスポンシブデザイン - 768px以下 */
@media (max-width: 768px) {
    .hexagon-wrapper {
        width: 300px;
        height: 270px;
    }

    .hexagon-background {
        width: 300px;
        height: 270px;
    }

    .hexagon {
        width: 280px;
        height: 250px;
    }

    .hexagon img {
        width: 280px;
        height: 250px;
    }
}

/* レスポンシブデザイン - 480px以下 */
@media (max-width: 480px) {
    .hexagon-wrapper {
        width: 250px;
        height: 230px;
    }

    .hexagon-background {
        width: 250px;
        height: 230px;
    }

    .hexagon {
        width: 230px;
        height: 200px;
    }

    .hexagon img {
        width: 230px;
        height: 200px;
    }
}
/* ↑↑↑↑↑↑ 六角形の描画用 ↑↑↑↑↑↑ */

/* ↓↓↓↓↓↓ 詳細表示用 ↓↓↓↓↓↓ */
.image-area {
    position: relative;
    width: 100%;
    overflow-x: auto;
}
.image-area img {
    width: 100%;
    min-width: 650px;
    height: 280px;
    display: block;
}
.hotspot {
    position: absolute;
    width: 90px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid red;
    cursor: pointer;
    transition: transform 0.3s;
}

.hotspot:hover {
    transform: scale(1.1);
}

/* ◀▶ ボタンを中心に配置 */
.arrow-buttons button,
.back-buttons button {
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: none;
    cursor: pointer;
    font-size: 24px;
    transition: background-color 0.3s, transform 0.2s ease-in-out;
}

.arrow-buttons button:hover,
.back-buttons button:hover {
    background-color: rgba(169, 169, 169, 1); /* ホバー時に背景を濃く */
}

.description {
    margin-top: 30px;
    padding: 20px;
    border-top: 1px solid #ccc;
    background-color: white;
    display: none;
    opacity: 0;
}

.description.show {
    display: block;
}

.description img {
    margin-top: 35px;
    width: 90%;
    max-width: 800px; /* 最大幅を800pxに制限 */
    height: auto;
    display: block;
}

.description h2,
.description p {
    text-align: center;
}

.description.active {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

/* スマホ用 (画面幅768px以下) */
@media (max-width: 768px) {
    .hotspot {
        position: absolute;
        width: 65px;
        height: 75px;
        border-radius: 50%;
        border: 2px solid red;
        cursor: pointer;
        transition: transform 0.3s;
    }

    .hotspot[data-id="area1"] {
        top: 62% !important; /* スマホ用の位置調整 */
        left: 44% !important;
    }

    .hotspot[data-id="area2"] {
        top: 66% !important; /* スマホ用の位置調整 */
        left: 84% !important;
    }

    .hotspot[data-id="area3"] {
        top: 0% !important; /* スマホ用の位置調整 */
        left: 91% !important;
    }
}

@media (max-width: 480px) {
    .hotspot {
        position: absolute;
        width: 65px;
        height: 75px;
        border-radius: 50%;
        border: 2px solid red;
        cursor: pointer;
        transition: transform 0.3s;
    }

    .hotspot[data-id="area1"] {
        top: 62% !important; /* スマホ用の位置調整 */
        left: 57% !important;
    }

    .hotspot[data-id="area2"] {
        top: 66% !important; /* スマホ用の位置調整 */
        left: 110% !important;
    }

    .hotspot[data-id="area3"] {
        top: -2% !important; /* スマホ用の位置調整 */
        left: 118% !important;
    }
}
/* ↑↑↑↑↑↑ 詳細表示用 ↑↑↑↑↑↑ */
