/* common.css */

:root {
    --main-bg: #c8ff2a;
    --sub-bg: #dbb418;
    --accent-green: #c8ff2a;
    --accent-gold: #ffe100;
    --font-color: #376f5d;
    --white-bg: rgba(255, 255, 255, 0.95);
    --shadow: rgba(0, 0, 0, 0.5);
    --font-main: "Zen Kurenaido", sans-serif;
}

body {
    padding-top: 60px; /* ヘッダーの高さ分調整 */
}

/* ↓↓↓↓↓↓ ヘッダーメニュー用 ↓↓↓↓↓↓ */
/* ヘッダーの背景色とサイズ */
.navbar {
    background-color: var(--white-bg);
    height: 70px;
}

/* ヘッダーのサイズ - 768px以上 */
@media (min-width: 768px) {
    .navbar {
        height: 90px;
    }
}

/* ロゴのサイズ */
.logo-img {
    height: 50px;
}

/* ロゴのサイズ - 768px以上 */
@media (min-width: 768px) {
    .logo-img {
        height: 70px;
    }
}

/* ロゴのホバーエフェクト */
.logo-img:hover {
    opacity: 0.5;
}

/* メニュータイトル */
.offcanvas-title {
    width: 500px !important;
    font-family: var(--font-main);
    font-size: 1rem;
    color: var(--main-bg);
    text-shadow: 1px 1px 2px var(--font-color);
    transition: all 0.3s ease-in-out;
}

/* メニュータイトル - 768px以上 */
@media (min-width: 768px) {
    .offcanvas-title {
        font-size: 1.2rem;
    }
}

/* メニュー文字 */
.offcanvas-body .nav-link {
    font-family: var(--font-main);
    font-size: 1.8rem;
    color: var(--font-color);
    border-bottom: 2px solid var(--sub-bg);
    padding-bottom: 2px;
    text-shadow: 1px 1px 2px var(--shadow);
    transition: all 0.3s ease-in-out;
}

/* メニュー文字 - 768px以上 */
@media (min-width: 768px) {
    .offcanvas-body .nav-link {
        font-size: 1.8rem;
    }
}

/* メニュー文字 - 992px以上 */
@media (min-width: 992px) {
    .offcanvas-body .nav-link {
        font-size: 1.4rem;
        border-bottom: none;
        margin-bottom: 10px;
    }
}

/* 「sustainable-honeybees-park-project」 */
.offcanvas-body .nav-link.foot {
    font-family: var(--font-main);
    font-size: 1.2rem;
    color: var(--font-color);
    border-bottom: 2px solid var(--sub-bg);
    padding-bottom: 2px;
    text-shadow: none;
    transition: all 0.3s ease-in-out;
    margin-top: 50px;
    display: inline-block;
    text-align: center;
}

.offcanvas-body .nav-item.foot {
    text-align: center;
}

@media (min-width: 992px) {
    .offcanvas-body .nav-link.foot {
        display: none;
    }
}

/* メニュー文字のホバーエフェクト */
.offcanvas-body .nav-link:hover {
    color: var(--accent-green);
    text-shadow: 1.5px 1.5px 2px var(--font-color);
    transform: translateX(5px);
}

/* 「sustainable-honeybees-park-project」のホバーエフェクト*/
.offcanvas-body .nav-link.foot:hover {
    color: var(--accent-green);
    text-shadow: 1px 1px 2px var(--font-color);
    transform: none;
}

/* メニュー背景のグラデーション */
.offcanvas.offcanvas-gradient {
    background: linear-gradient(to bottom, white, var(--main-bg));
}

/* メニュー背景のグラデーション - 992px以上 */
@media (min-width: 992px) {
    .offcanvas.offcanvas-gradient {
        background: white;
    }
}

/* メニューの全画面表示 - 767px以下 */
@media (max-width: 767px) {
    .offcanvas-fullscreen {
        width: 100vw !important;
        max-width: 100vw !important;
    }
}

/* アンダーライン - 767px以下 */
.navbar {
    border-bottom: 2px solid var(--accent-gold);
}
/* ↑↑↑↑↑↑ ヘッダーメニュー用 ↑↑↑↑↑↑ */

/* ↓↓↓↓↓↓ フッターメニュー用 ↓↓↓↓↓↓ */

/* SNSリンク各種設定 */
.fa-instagram {
    color: white;
}

.fa-facebook {
    color: white;
}

.sns-link:hover i {
    transform: scale(1.2) !important;
}

.sns-link:hover i.fa-instagram {
    filter: drop-shadow(2px 2px 2px #e1306c);
}

.sns-link:hover i.fa-facebook {
    filter: drop-shadow(2px 2px 2px #1877f2);
}

/* お問い合わせのデザイン */
.question-link {
    position: relative;
    width: fit-content;
    top: 50%;
    left: 50%;
    border: 1px solid white;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.25);
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* お問い合わせのデザイン - 768px以上 */
@media (min-width: 768px) {
    .question-link {
        position: absolute;
    }
}

/* お問い合わせのホバー */
.question-link:hover {
    background-color: rgba(255, 255, 255, 0.5);
}
/* ↑↑↑↑↑↑ フッターメニュー用 ↑↑↑↑↑↑ */

/* ↓↓↓↓↓↓ 基本設定用 ↓↓↓↓↓↓ */
body {
    font-family: "Yu Gothic";
    background: linear-gradient(
        to bottom,
        white,
        var(--main-bg),
        var(--font-color)
    );
}

/* ページタイトルのデザイン */
.page-title {
    font-family: var(--font-main);
    font-size: 1.2rem;
    color: var(--main-bg);
    text-shadow: 2px 2px 2px var(--font-color);
    text-align: center;
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0),
        white,
        white,
        white,
        rgba(255, 255, 255, 0)
    );
    border-top: 2px solid var(--accent-gold);
    border-bottom: 2px solid var(--accent-gold);
    width: 100%;
    display: block;
    padding: 0.5em 0;
}

/* ページタイトルのサイズ - 480px以上 */
@media (min-width: 480px) {
    .page-title {
        font-size: 1.8rem;
    }
}

/* ページタイトルのサイズ - 768px以上 */
@media (min-width: 768px) {
    .page-title {
        font-size: 2.4rem;
    }
}

/* ページタイトルのサイズ - 992px以上 */
@media (min-width: 992px) {
    .page-title {
        font-size: 2.6rem;
    }
}
/* ↑↑↑↑↑↑ 基本設定用 ↑↑↑↑↑↑ */

/* ↓↓↓↓↓↓ 六角形の描画用 ↓↓↓↓↓↓ */
.hexagon-wrapper {
    position: relative;
    width: 280px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

/* 背景用の大きい六角形 */
.hexagon-background {
    width: 280px;
    height: 250px;
    background: var(--sub-bg); /* ゴールドっぽい色 */
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    position: absolute;
}

/* 手前の六角形 */
.hexagon {
    width: 250px;
    height: 230px;
    background: white;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* 六角形内画像 */
.hexagon img {
    width: 250px;
    height: 230px;
    object-fit: cover; /* 背景に収まるようにする */
    /* clip-path: inherit;*/
}

.hexagon p {
    text-align: center;
    word-break: break-word;
    overflow-wrap: break-word;
    height: 90%;
}

/* 全てを囲って真ん中に綺麗になるように配置 */
/* 特にこの三行で指定
display: flex;
align-items: center;
justify-content: center;
*/
/*
サイズの大小関係は
hexagon-wrapper >= hexagon-background > hexagon
であればOK 写真は大きくても収まるよ

hexagon imgのなかの"clip-path: inherit;"を有効化すると画像も六角形になるよ
*/

/* レスポンシブデザイン - 480px以上 */
@media (min-width: 480px) {
    .hexagon-wrapper {
        width: 300px;
        height: 270px;
    }

    .hexagon-background {
        width: 300px;
        height: 270px;
    }

    .hexagon {
        width: 280px;
        height: 250px;
    }

    .hexagon img {
        width: 280px;
        height: 250px;
    }
}

/* レスポンシブデザイン - 768px以上 */
@media (min-width: 768px) {
    .hexagon-wrapper {
        width: 400px;
        height: 360px;
    }

    .hexagon-background {
        width: 400px;
        height: 360px;
    }

    .hexagon {
        width: 380px;
        height: 340px;
    }

    .hexagon img {
        width: 380px;
        height: 340px;
    }
}

/* 拡大六角形 */
.large-hexagon .hexagon-wrapper {
    transform: scale(1.4);
}
.large-hexagon .hexagon-background {
    transform: scale(1.4);
}
.large-hexagon .hexagon {
    transform: scale(1.4);
}
.large-hexagon .hexagon img {
    transform: scale(1.4);
}
/* ↑↑↑↑↑↑ 六角形の描画用 ↑↑↑↑↑↑ */

/* ↓↓↓↓↓↓ デザイン表示用 ↓↓↓↓↓↓ */
.image-area {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 200px;
    overflow: auto;
    border: 5px solid var(--sub-bg);
    box-shadow: 0 4px 8px var(--shadow);
    white-space: nowrap;
}
.image-area img {
    max-width: none;
    height: 100%;
    width: auto;
    aspect-ratio: 364 / 91;
    display: block;
}

@media (min-width: 768px) {
    .image-area {
        height: 250px;
    }
}

@media (min-width: 992px) {
    .image-area,
    .image-area img {
        width: auto;
        max-width: 100%;
        height: auto;
        overflow-x: none;
        overflow-y: none;
    }
}
/* ↑↑↑↑↑↑ デザイン表示用 ↑↑↑↑↑↑ */
