/* 文章用六角形（白色）の位置調整 */
.hexagon-wrapper.text-hex .hexagon {
    transform: translate(10px, 10px);  /* 右に5px、下に5pxずらす */
}

.hexagon-wrapper {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.hex-divider {
    position: relative;
    height: 160px;
    margin: 60px 0;
}

.header-box {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.hexagon-wrapper.text-hex + .hexagon-wrapper.text-hex {
    margin-top: -80px;  /* がっつり詰める */
    display: block;     /* flexの影響消す */
}

/* 縦長画面（スマホ用）の場合 */
@media (max-width: 768px) and (orientation: portrait) {
  
    /* 六角形文章用 非表示 */
    .hexagon-wrapper.text-hex {
      display: none;
    }
  
    /* 六角形位置調整用 非表示 */
    .hex-shift-down {
      display: none;
    }
  
    /* スマホ用文章ボックス 表示 */
    .text-box {
      display: block;
    }
  
    /* スマホ用 角丸白ボックス */
    .text-container {
      background-color: white;
      border-radius: 20px;
      padding: 20px;
      margin-top: 20px;
      margin-bottom: 40px;
      text-align: center;
    }
  }
  
  
  /* 横長画面（PCやスマホ横持ち）の場合 */
  @media (min-width: 769px), (orientation: landscape) {
  
    /* 六角形文章用 表示 */
    .hexagon-wrapper.text-hex {
      display: block;
    }
  
    /* 六角形位置調整用 表示 */
    .hex-shift-down {
      display: block;
    }
  
    /* スマホ用文章ボックス 非表示 */
    .text-box,
    .text-container {
      display: none;
    }
  }
  